@media (min-width: 1200px) {
  .container {
    max-width: 1170px; } }

@media (min-width: 576px) {
  .container {
    max-width: 450px; } }

header {
  height: 105px; }

.navbar {
  background-color: #fff; }

ul li a {
  font-weight: bold;
  color: #635c73 !important; }

.buy {
  width: 145px;
  height: 38px;
  border: none;
  border-radius: 30px;
  color: #fff;
  background-color: #8d81ac; }
  .buy:hover {
    color: #fff;
    box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.5); }

.hero {
  background: #000; }

.jumboton {
  height: 800px;
  background: url(../img/bg1.png) no-repeat center;
  text-align: center;
  padding-top: 112px; }
  .jumboton h1 {
    color: #fff;
    font-weight: bold; }
  .jumboton .lead {
    color: #73698d;
    font-size: 30px; }
  .jumboton p {
    color: #78818a; }

.load {
  position: relative;
  width: 390px;
  height: 62px;
  background-color: #8d81ac;
  border: none;
  border-radius: 30px;
  color: #fff; }
  .load:hover {
    color: #fff;
    box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.5); }

.load, .trial {
  top: 440px; }

.trial {
  font-size: 14px;
  margin-top: 20px;
  position: relative; }

.editor {
  text-align: center;
  padding-top: 130px;
  padding-bottom: 70px; }

.display {
  font-size: 54px;
  font-weight: bold;
  color: #635c73;
  margin-bottom: 40px; }

.ch {
  position: relative;
  top: -570px;
  right: -480px; }

.whatuget {
  font-size: 48px;
  font-weight: bold;
  color: #8d81ac; }

#preferences {
  height: 970px;
  background-color: #f4f4f4;
  padding-top: 100px; }

.list {
  top: -50px; }

#mask {
  padding-top: 85px;
  padding-bottom: 110px; }

h4 {
  font-size: 24px;
  font-weight: bold !important;
  color: #635c73 !important; }

span {
  color: #9f95b8; }

#carouselExampleControls {
  margin-top: 35px;
  margin-bottom: 60px;
  width: 720px;
  text-align: center; }

.carousel-control-prev {
  margin-left: -110px; }

.carousel-control-next {
  margin-right: -110px; }

.social {
  width: 240px;
  height: 50px; }

.git {
  background: #f3f3f3;
  color: #000; }
  .git:hover {
    color: #000;
    box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.5); }

.tw {
  background-color: #26a6d1;
  color: #fff; }
  .tw:hover {
    color: #fff;
    box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.5); }

.fb {
  background-color: #3b5998;
  color: #fff; }
  .fb:hover {
    color: #fff;
    box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.5); }

hr {
  width: 780px;
  padding-bottom: 60px; }

#testimonials {
  background: url(../img/base.png) center no-repeat/cover;
  padding-top: 100px;
  text-align: center; }
  #testimonials h2 {
    color: #fff;
    font-size: 48px;
    font-weight: bold; }
  #testimonials img {
    margin-top: 100px; }
  #testimonials hr {
    color: #655969;
    height: 1px; }

.descr {
  color: #fff;
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
  line-height: 2;
  margin-top: 35px; }

#pricing {
  background: url(../img/bg3.png) center no-repeat/cover;
  text-align: center;
  padding: 80px; }
  #pricing h2 {
    color: #fff;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 130px; }
  #pricing .price-variety {
    padding: 0;
    background: rgba(255, 255, 255, 0.1);
    width: 250px; }
    #pricing .price-variety h3 {
      height: 95px;
      width: 100%;
      background: rgba(255, 255, 255, 0.2);
      color: #fff;
      text-transform: uppercase;
      line-height: 95px; }
    #pricing .price-variety .cost {
      font-size: 60px;
      color: #fff;
      font-weight: bold; }
    #pricing .price-variety .per-month {
      font-size: 14px;
      color: rgba(255, 255, 255, 0.2);
      text-transform: uppercase; }
    #pricing .price-variety hr {
      margin-top: 40px;
      width: 60px;
      height: 5px; }
    #pricing .price-variety .license {
      font-size: 16px;
      color: #fff;
      text-transform: uppercase;
      margin-bottom: 30px; }
    #pricing .price-variety .purchase {
      width: 190px;
      height: 52px;
      border: none;
      border-radius: 30px;
      background: rgba(255, 255, 255, 0.2);
      text-transform: uppercase;
      color: #fff;
      margin-bottom: 40px; }
    #pricing .price-variety:hover {
      background-color: rgba(57, 45, 61, 0.1);
      transform: scale(1.1); }

.duis {
  margin-top: 125px;
  font-size: 14px;
  color: #a291a5; }

.subscribe-here {
  background: #f4f4f4;
  padding: 50px 50px;
  text-align: center; }
  .subscribe-here h2 {
    color: #635c73; }

input {
  width: 335px;
  height: 40px;
  border: none;
  border-radius: 30px;
  padding-left: 30px; }

.subscribe {
  width: 140px;
  height: 40px;
  background: #8d81ac;
  border: none;
  border-radius: 30px !important;
  color: #fff;
  text-transform: uppercase; }
  .subscribe:hover {
    color: #fff;
    box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.5); }

#links {
  padding: 80px;
  font-size: 28px;
  font-weight: bold;
  color: #d3d1da; }
  #links h3 {
    font-size: 16px;
    color: #8d81ac; }
  #links p {
    font-size: 13px;
    color: #a1a8af; }
  #links .black {
    color: #000; }
  #links hr {
    margin-top: 50px; }

.goto {
  width: 165px;
  height: 35px;
  background: #f4f4f4;
  border-radius: 5px;
  color: #8d81ac; }
  .goto:hover {
    color: #8d81ac;
    box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.5); }

footer {
  padding-bottom: 100px; }
  footer p {
    color: #a1a8af;
    font-size: 14px; }
  footer h3 {
    color: #3f3f3f; }
